.menu-screen{
    text-align: center;
}

.menu-screen .parent{
    padding: 2rem;
}

.menu-screen .heading{
    font-style: italic;
}

.menu-screen .container{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: 2rem;
    flex-wrap: wrap;
}

.menu-screen .wrapper{
    margin-top: 2rem;
    padding: 1rem 0;
}

.menu-screen .wrapper .upper{
    padding-left: 8.5rem;
    padding-right: 8.5rem;
    display: flex;
    align-items: center;
}