.menu-screen{
    text-align: center;
}

.heading{
    margin-bottom: 2rem;
}

.menu-screen .container{
    padding: 1rem;
    display: grid;
    text-align: center;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
    flex-wrap: wrap;
}