.footer{
    background-color: #333333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem; 
    color: white;
}

.footer .icons > *{
    margin-right: 0.5rem;
    font-size: 2rem;
}

