.home-screen{
    text-align: center;
}

.home-screen .parent{
    padding: 2rem;
}

.home-screen .container{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: 2rem;
    flex-wrap: wrap;
}

.home-screen .wrapper{
    margin-top: 2rem;
    padding: 2rem 0;
}

.home-screen .wrapper .upper{
    padding: 0 8.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}